*{
    border: 0;
    background-color: rgb(255, 255, 255);
}
    .centro2{display: inline;}
    .centro1{display: inline;}
    .centro3{display: inline;}
    .centro4{display: inline;}
    .centro5{display: inline;}
    .centro6{display: inline;}
    .centro7{display: inline;}
    
    .email{
        grid-template-columns: auto 1fr; /* 2-column grid */
        text-align: center;
    }
    #banner{
        width: 100%;
    }
    svg{height: 10px;
    width: 30px;}
    .email{background-color: white;}
    p{ font-family: sans-serif;}
    .all{
    background-color: #7fad39;
    height: 40px ;
    width: 379px;
    color:white;
    font-family: sans-serif;
    text-align: center;
    }
    .image{height: 20px;
    width: 17px;}
    .centro{ text-align: center;
    grid-area: center ;
    }
    .centro{display: contents;
    grid-column-end: span;}
    .sacola{height: 23px;
        width: 45px;}
        
    .categoria{display: contents;
    }

      li{
        list-style: none;
      }
      .dropdown {
        position: relative;
        display: inline-block;
     
      }
      .email{margin-left: 18%;
        display: flex;}
        .digite{text-align: center;
        }
        .butao2{font-size: 14px;
            color: #ffffff;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 13px 30px 12px;
            background: #7fad39;
            border: none;}
            
            #gridp2{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           font-family: sans-serif;     
            }
            #mapa{
                width: 100%;
            }
            .imagen{height: 20px;
            width: 30px;}
            
.digite{
    height: 20px;  
    width: 670px; 
    border: solid black 1px;
    border-radius: 50px;
    text-align: left;
}
.digite1{
    height: 10px;  
    width: 1500px; 
    border: solid black 1px;

}
#grid_imputs{
    display: grid;
    grid-template-columns:  50% 50%;
    border: solid black 1px;
}
.email
{
text-align: center;
height: 40px;
background-color: rgb(255, 255, 255);/*TROCAR A COR DO FUNDO <------------------------------------------------------------------------------------ */
display: flex;

}
#emai{
  margin-top: 5px;
  padding-left: 400px;
}
.email2{
  margin-top: 5px;
  padding-left: 18%;
}

#barra{
  margin-top: 5px;
  padding-left: 50px;
}

.free{
  margin-top: 5px;
  padding-left: 50px;
  padding-right: 500px;
}

#bandeira{
  margin-top: 5px;
  width: 50px;
  height: 30px;
  padding-left: 10px;
}

#textin{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

.svg1{
  margin-top: 10px;
}
.dropdown-content {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
